# Ignore project files
/.vs/
/.vscode/
/.idea/
/.vsconfig
/PunalProject.sln
Plugins/Developer/RiderLink

# Ignore developers folder
/Content/Developers/*

# Ignore generated folders
/Build/
/Intermediate/
/DerivedDataCache/
/Saved/
/enc_temp_folder/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Source/Deps/Build/

# Ignore the same things for plugins
/Plugins/**/Build/
/Plugins/**/Intermediate/
/Plugins/**/DerivedDataCache/
/Plugins/**/Saved/
/Plugins/**/enc_temp_folder/

# Punal Manalan: Ignore These Binaries as they will Increase the Commit Size Everytime
/Binaries/
/Plugins/**/Binaries/

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/
Plugins/*/Binaries/

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
#!Build/*/
#Build/*/**
#!Build/*/PakBlacklist*.txt

# Don't ignore android icon files in Build
!/Build/Android/
/Build/Android/*
!/Build/Android/res

# Don't ignore android keystore files in Build
!/Build/Android/*.keystore

# Compiled source files for the engine to use
Intermediate/
Plugins/*/Intermediate/

# Cache files for the editor to use
DerivedDataCache/
APKs
